@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Roboto:ital,wght@0,300;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Kaushan+Script&family=Roboto:ital,wght@0,300;1,500;1,700&display=swap');

body{
    background-color: gray;
    font-family: 'Kaushan Script';
    font-size: 46px;
}
table, th, td, tr{
    border-style: solid;
    border-width:7px;
    border-collapse: collapse;
    border-color:blue;
}

table{
    text-align: center;
    background-color: cornflowerblue;

    
}
h3{
    text-align: center;
    margin: auto;
    font-size: 0.75rem;
    
}
div.tabela{
    text-align: center;
    background-color: brown;
}