body{
    background-color: gray;
    font-family: 'Courier New', Courier, Arial, Helvetica, sans-serif;
}
table, th, td, tr{
    border-style: solid;
    border-width:7px;
    border-collapse: collapse;
    border-color:blue;
}

table{
    text-align: center;
    background-color: cornflowerblue;

    
}
h3{
    text-align: center;
    margin: auto;
    font-size: 0.75rem;
}